/* Imported font styles from Goolge*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300&family=Oswald:wght@200..700&display=swap');

/* Asterisk wild card selector to override default Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project style */
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}

/* Header */
header {
    background-color: #ffffff;
    position: fixed;
    padding: 0 1rem;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

/* Nav Bar styles with drop down toggle */

nav {
    position: absolute;
    background-color: #ffffff;
    padding: 0 1rem;
    /* z-index: 99; */
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    left: 0;
    display: none;
    top: 100%;

}
/* nav to toggle */
#nav-toggle:checked~nav {
    display: block;
}
#nav-toggle {
    display: none;
}

/* h1 styled */
h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

/* Main Content */
main {
    margin-top: 47px;
    background-color: lightblue;
    /* lets make our main element takeup remaining space to push our footer down */
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: orange;
    /* font-family: "Lato", sans-serif; */
    
    
}

/* 


Classes for fonts Lato and Oswald 


*/

.lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.lato-light-italic {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
}
.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

  
/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 200 to 700 */

.oswald-weight-200 {
    font-family: "Lato", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

/* Classes all */

.active {
    border-bottom: 1px solid #3a3a3a;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* IDs all */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

/* Media Query: Tablets and larger (768px and up) */
@media screen and (min-width:768px) {
    /* header */
    nav {
        display: block;
        box-shadow: none;
        position: relative;
        width: fit-content;
        padding-right: 1rem;

    }
    #menu {
        display: flex;
    }
    #menu > li {
        padding-left: 1rem;
    }
    .nav-toggle-label {
        display: none;
    }
    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }
    /* Main content */
    main {
        /* push content down to accommodate Bigger header  */
        margin-top: 79px;
    }
}
/*  LAptops and higher Media query */
@media screen and (min-width:992px) {
    /* header */
    nav {
        display: block;
        box-shadow: none;
        position: relative;
        width: fit-content;
        padding-right: 1rem;

    }
    #menu {
        display: flex;
    }
    #menu > li {
        padding-left: 1rem;
    }
    /* Brings back underline in laptops and higher */
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }
    .nav-toggle-label {
        display: none;
    }
    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }
    /* Main content */
    main {
        /* push content down to accommodate Bigger header  */
        margin-top: 79px;
    }
}